html, body {
    height: 100%;
}

body {
    background: url('/images/background.jpg') no-repeat fixed;
    background-size: cover;
}

body #wrap > .container {
    padding-top: 60px; 
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -48px;
  /* Pad bottom by footer height */
  padding: 0 0 48px;    
}

.navbar-fixed-top {
    background: black;
    background: rgba(0,0,0,0.75);    
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: orange;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: black;
    background: rgba(0,0,0,0.95);        
    color: #eeeeee;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: orange;
}
                
#footer {
    background: black;
    background: rgba(0,0,0,0.75);
    height: 38px;
    padding-top: 8px;
    margin-top:10px;
    position: absolute;
    width: 100%;
}

/** Components, prefixed with a C so we can spot them in markup **/
.c-thead-main {
    background: #005FAA;
    color: white;
    font-weight: bold;
    font-size: 110%;
}

.c-thead-label {
    background: #BBC7F7 !important;
    font-weight: bold;
    font-size: 105%;
}

.c-league-table,
.c-fixture-table {
    background: white;
    border-radius: 3px;
    box-shadow: 3px 3px 2px #666;
}

.c-competition-name {
    font-size: 75%;    
}

.c-team-name {
    
}

/** Treatments, prefixed with a T so we can spot them **/

.t-align-center {
    text-align: center;
}
.t-align-left {
    text-align: left;
}
.t-align-right {
    text-align: right;
}

.t-color-light {
    color: #cccccc;   
}

.t-color-up {
    color: green;
}

.t-color-down {
    color: red;
}

/** other **/


tfoot {
    font-size: 75%;
    background: #BBC7F7;
}