Options -Indexes
RewriteEngine on

# For simplicity and speed we'll expect all calls to be a simple, common format and pass in a query string for the actual params.
RewriteRule ^(get|put|delete)/([a-z]+)/?$ /apiRequest.php?method=$1&action=$2 [QSA,NC,L]